.container{
    display: flex;
    border: 3px solid black;
    height: 700px;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: stretch;
    align-content: flex-end;
    gap: 3px 10px;
    
    

}
.item{
    height: 150px;
    width: 100px;
    border: 2px solid blue;
    background-color: aqua;
    flex-grow: 1;
    
    }


.item4{
    order: -1;
    flex-grow: 2;
    align-self:3 ;
}