.container{

    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    height: 200px;
    width: 800px;
    border: 4px black solid;
    flex-flow: row nowrap;
    
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.item{
    height: 200px;
    width: 100px;
    background-color: cyan;
}