.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid red;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /* grid-template-areas: "header header header header"
    "main main . sidebar" "footer footer footer footer"; */
    column-gap: 10px;
    justify-items: center;   
    align-items: center;
    place-items: center;

}
.item{
     height: 100px;
    width: 100px; 
    background-color: blueviolet;
    border: 1px solid BLUE;
    /* text-align: center;
    align-content:center;

    justify-content: center; */


}
/* .item1{
    grid-area: header;
    grid-column: 2/4;
    grid-row:1/3;
    grid
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
grid-area: footer;


} */
 /* .item1{
 grid-column: 2/4;
    grid-row:1/3;
 } */
 .item1{

    grid-column: 4;
    grid-row:2/4;
}
/* .box8{
    grid-column:2/4 ;
    grid-row:3 ;
} */

.item3{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}